@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.dotgothic16-regular {
  font-family: 'DotGothic16', sans-serif;
  font-weight: 400;
  font-style: normal;
}

$bright-purple: #530460;
$dark-purple: #381b34;
$light-purple: #573953;
$light-pink: #fce8ed;
$red: #d8315b;
$light-red: #d8315b3e;
$pink: #f5b2d2;
$white: #faf1f1;
$green: #84be6d;
